<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.accesscontrol.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.accesscontrol.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>controller.employee.EmployeeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <servlet-class>controller.employee.EmployeeUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCreateController</servlet-name>
        <servlet-class>controller.employee.EmployeeCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <servlet-class>controller.productionplan.ProductionPlanCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanListController</servlet-name>
        <servlet-class>controller.productionplan.ProductionPlanListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeFilterController</servlet-name>
        <servlet-class>controller.employee.EmployeeFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <servlet-class>controller.employee.EmployeeDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedualCampainCreateController</servlet-name>
        <servlet-class>controller.schedualcampain.SchedualCampainCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedualCampainListController</servlet-name>
        <servlet-class>controller.schedualcampain.SchedualCampainListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDeleteController</servlet-name>
        <servlet-class>controller.productionplan.ProductionPlanDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedualEmployeeListController</servlet-name>
        <servlet-class>controller.schedualemployee.SchedualEmployeeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedualEmployeeCreateController</servlet-name>
        <servlet-class>controller.schedualemployee.SchedualEmployeeCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanUpdateController</servlet-name>
        <servlet-class>controller.productionplan.ProductionPlanUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedualDetailController</servlet-name>
        <servlet-class>controller.schedualcampain.SchedualDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListController</servlet-name>
        <url-pattern>/employee/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeUpdateController</servlet-name>
        <url-pattern>/employee/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCreateController</servlet-name>
        <url-pattern>/employee/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanCreateController</servlet-name>
        <url-pattern>/productionplan/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanListController</servlet-name>
        <url-pattern>/productionplan/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeFilterController</servlet-name>
        <url-pattern>/employee/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDeleteController</servlet-name>
        <url-pattern>/employee/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedualCampainCreateController</servlet-name>
        <url-pattern>/schedualcampain/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedualCampainListController</servlet-name>
        <url-pattern>/schedualcampain/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDeleteController</servlet-name>
        <url-pattern>/productionplan/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedualEmployeeListController</servlet-name>
        <url-pattern>/schedualemployee/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedualEmployeeCreateController</servlet-name>
        <url-pattern>/schedualemployee/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanUpdateController</servlet-name>
        <url-pattern>/productionplan/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedualDetailController</servlet-name>
        <url-pattern>/schedualcampain/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
</web-app>
